@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
<form>
       
    <div class="navbar-expand-lg">
        <nav class="navbar navbar-expand-lg bg-black">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <ul>
                 <li class="nav-item al">
                    <a type="button" class="btn btn-outline-primary text-white" asp-controller="ofertas" asp-action="Index">Empleos</a>
                </li>
                </ul>
                <ul>
                <li class="nav-item">
                    <a type="button" class="btn btn-outline-primary text-white">Para Empresas</a>
                </li>
                </ul>
                <ul>
                <li class="nav-item">
                <a type="button" class="btn btn-outline-primary text-white">Info. de Contacto</a>
                </li>
                </ul>
       
            </ul>
      <div class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary text-white" type="submit">Search</button>
      </div>
    </div>
  </div>
</nav>
</div>
    
 <div>
    @foreach (var ofertas in (IEnumerable<dynamic>)ViewData["listaOfertas"])
            {
                <div class="card w-100 mt-3">
                    <h5 class="card-title ">Titulo: @ofertas.nombrePuesto</h5>
                <div class="text-end align-items-end me-2">
                    <h5 class="card-title">Salario:</h5>
                    <h5 class="text-success card-text" ID ="@ofertas.id_ofertas">$@ofertas.salario</h5>
                    <a href="#" class="btn btn-primary text-end align-content-end">Aplicar</a>
                </div>
                <div class="card-body d-block">       
                    <p class="card-text"></p>
                    <p class="card-text border border-primary rounded bg-secondary text-white">@ofertas.descripcionOferta</p>
                </div>
                </div>
            }

  </div>



        
</form>
}
