html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.centrar
{
    align-content:center;
    margin-right : 650px;
}

.espaciado{
    margin-right: 12px;
}

.margenIzquierdo {
    margin-left: 100px;
}
.carousel-container {
    width: 500px; /* Ajusta el ancho según tus preferencias */
    height: 300px; /* Ajusta la altura según tus preferencias */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}