html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.centrar
{
    align-content:center;
    margin-right : 650px;
}

.espaciado{
    margin-right: 12px;
}

.margenIzquierdo{
    margin-left : 100px;
}