<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoDAW__8</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProyectoDAW__8.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <img src="~/css/images source/púrpura moderno tecnología y videojuegos logotipo (1).png" class="d-inline-flex p-2" asp-area="" asp-controller="Home" asp-action="Index" width="185" height="85"/>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="d-flex navbar">
                    <ul class="d-flex navbar-nav flex-grow-1">
                        <li class="nav-item align-items-center align-content-center">
                            <h1 class="centrar">Find Worker</h1>
                        </li>
                    </ul>
                    <ul class="d-flex navbar-nav flex-grow-1 espaciado">
                        <li>
                            <button type="button" class="btn btn-outline-primary btn-lg">Sign In</button>
                        </li>
                    </ul>
                     <ul class="d-flex navbar-nav flex-grow-1">
                        <li>
                            <button type="button" class="btn btn-outline-primary btn-lg">Log In</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ProyectoDAW__8 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
